*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    /* background-image:linear-gradient(to right, #C4E5D8 ,#c6e9ab, rgb(171, 226, 198),#c5e2c7) ;   */
    font-family: "Montserrat", sans-serif;
    background-color:rgb(251,227,227);
            
    
}


.section-heading h2{
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.section-heading p{
    font-size: 21px;
    font-weight: 400;
    margin: 1.5em 0;
    color: #fff;

}
::-webkit-scrollbar{width:15px; border-radius: 20px;}
::-webkit-scrollbar-track{background: linear-gradient(transparent,#6d9696); 
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.39);  }
::-webkit-scrollbar-thumb{background: linear-gradient(#fbe3e3,#ebac9c,#f2bdb2,#d79d94);
     border-radius: 20px;}